h1, h2{
  font-size: 24px;
  font-weight: 700;
}

select{
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-weight: 100;
}

button{
  border: 0;
  background: #58b957;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 8px 15px;
  font-weight: 700;
  margin: 15px 0;
}

button:hover{
  background: #3eea5b;
}

.invalid{
  border-color: #dc3545
}

.valid{
  border-color: #28a745
}

.invalid-feedback{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.modal-header{
  background: white;
}

.modal-header > *{
  background: white;
  color: black;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  padding-bottom: 15px;
}
.modal-header > button.close {
  position: absolute;
  right: 10px;
  top: 14px;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-footer{
  padding: 0 15px;
}

.modal-footer .close-modal{
  background: #fff;
  color: #333;
  border: 1px solid #aaa;
}

.modal-footer .close-modal:hover{
  background: #ddd;
}

/*Galaxy S5 (de pé)*/
@media only screen and (width: 360px) {
  #responsiveAlertaErro {
    width: 91%;
  }
}
/*Pixel 2 (de pé)*/
@media only screen and (width: 411px) {
  #responsiveAlertaErro {
    width: 91%;
  }
}

/*Pixel 2 (deitado)*/
@media only screen and (width: 731px) {
  #responsiveAlertaErro {
    width: 95%;
  }
}

/*Pixel 2 XL (de pé)*/
@media only screen and (width: 411px) {
  #responsiveAlertaErro {
    width: 90%;
  }
}

/*Iphone5/SE (de pé)*/
@media only screen and (width: 320px) {
  #responsiveAlertaErro {
    width: 90%;
  }
}

/*Iphone 5 (deitado)*/
@media only screen and (width: 568px) {
  #responsiveAlertaErro {
    width: 94%;
  }
}

/*Iphone 6/7/8 (de pé)*/
@media only screen and (width: 375px) {
  #responsiveAlertaErro {
    width: 91%;
  }
}

/*Iphone 6/7/8 (deitado)*/
@media only screen and (width: 667px) {
  #responsiveAlertaErro {
    width: 95%;
  }
}

/*Iphone 6/7/8 Plus (de pé)*/
@media only screen and (width: 414px) {
  #responsiveAlertaErro {
    width: 92%;
  }
}

/*Iphone 6/7/8 Plus (deitado)*/
@media only screen and (width: 736px) {
  #responsiveAlertaErro {
    width: 96%;
  }
}

/*Iphone X (de pé)*/
@media only screen and (width: 375px) {
  #responsiveAlertaErro {
    width: 91%;
  }
}
